
    <gp-button
      gp-data='{"btnLink":{"link":"https://smoothspine.com/products/tfm-pres","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-xl);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="g5OVjMz0il"].gp-button-base::before, [data-id="g5OVjMz0il-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 4px 0px;
  border-color: #055BDC;
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="g5OVjMz0il"]:hover::before, [data-id="g5OVjMz0il-interaction"]:hover::before {
    border-style: none;
  border-width: 0px 0px 4px 0px;
  border-color: #0A6BFC;
  
    
  }</style>
        
        <a
          data-id="g5OVjMz0il" dataId="g5OVjMz0il" data-state="idle" aria-label="<p>GET 60% OFF SmoothSpine<br>“Triple Fusion” Massager Now!</p>"
          
          href="https://smoothspine.com/products/tfm-pres" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:15px;--pb:15px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:15px;--pb-mobile:15px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--hvr-shadow:6.123233995736766e-17px 1px 8px 3px #DADADA;--shadow:6.123233995736766e-17px 1px 8px 3px #DADADA;--bgi:;--hvr-bgi:;--hvr-bg:#055BDC;--bg:#055BDC;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:36px;--lh-tablet:36px;--lh-mobile:24px;--ls:0px"
          class="g5OVjMz0il gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:700;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:36px;--lh-tablet:36px;--lh-mobile:24px;--ls:0px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg5OVjMz0il_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  