
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gxL9sHDyea gp-custom-code">
      <div>
    <section class="kommen-area" id="iq3c9p"><div data-secondsdelay="" class="container"><div data-secondsdelay="" class="kommen-inner" id="i3z2tj"><div data-secondsdelay="" class="kommen-top"><form action=""><label for="">Comments</label><input type="text" placeholder="Add a comment..." name="" customval=""></form></div><div data-secondsdelay="" id="i014zp" class="kommen-m"><!-- 1 --><div data-secondsdelay="" class="km-inner"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830282-14.webp?v=1746126784" alt="" id="fkt-image-d1c-ca4-a0e" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830282-14.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ino093">Harry Keegan
				</h3><p data-text="text" data-secondsdelay="" id="infqxl">My wife doesn’t use Facebook, but she swears this thing changed her life. I can vouch for it, she’s walking better than she has in years with the SmoothSpine
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-f24-1ac-b53" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="">39 min
				  </li></ul></div></div><!-- 2 --><div data-secondsdelay="" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830284-15.webp?v=1746126784" alt="" id="fkt-image-f81-aa7-94b" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830284-15.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" id="iqgoy5" class="k-right"><h3 data-text="text" data-secondsdelay="" id="iil548">Laura Fuchs
				</h3><p data-text="text" data-secondsdelay="" id="ig35x5">Absolutely loving my SmoothSpine! 🙌
				</p><img id="fkt-image-fdf-aa9-b6f" title="" target="_self" src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1753108886217_Screenshot_6.png" href="" align="center" alt="" width="" height="" onclick="" data-src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1753108886217_Screenshot_6.png" class="fk-image-defaults" loading="lazy"><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-cb4-fbf-be6" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i08zki">22 min
				  </li></ul></div></div><!-- 3 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830306-16.webp?v=1746126784" alt="" id="fkt-image-f5f-9bc-886" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830306-16.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="iepxwh">Anna Madison
				</h3><p data-text="text" data-secondsdelay="" id="i14mtn">I was skeptical at first… but honestly, this device is worth every penny. It works. Two of my coworkers ordered it after trying mine!
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-00a-bbc-9f4" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i998k9">2 hr</li></ul></div></div><!-- 4 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830356-19.webp?v=1746126784" alt="" id="fkt-image-7cd-a9c-9e1" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830356-19.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="i67fik">Laura Lehmann
				</h3><p data-text="text" data-secondsdelay="" id="i6911f">I had to buy one for my sister too she wouldn’t stop “borrowing” mine 😂
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-086-c90-927" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ibw4uf">2 hr</li></ul></div></div><!-- 5 --><div data-secondsdelay="" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830316-18.webp?v=1746126784" alt="" id="fkt-image-278-4b3-900" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830316-18.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ish215">Hanna Lang
				</h3><p data-text="text" data-secondsdelay="" id="i4vgrl">Omg SAME! I saw it was back in stock and ordered immediately. Didn’t want to miss out again.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-62f-e87-926" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="irueqyq">2 hr</li></ul></div></div><!-- 6 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830312-17.webp?v=1746126784" alt="" id="fkt-image-7a9-a81-93d" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830312-17.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="">Emma Boyd
				</h3><p data-text="text" data-secondsdelay="">I cant even believe to tell you the difference I feel in my day to day.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-1ae-dac-a85" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="in1et4f">3 hr</li></ul></div></div><!-- 7 --><div data-secondsdelay="" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830384-21.webp?v=1746126784" alt="" id="fkt-image-5cb-58e-b12" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830384-21.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="">Emma Emerson
				</h3><p data-text="text" data-secondsdelay="">Hey Lois, this is what you need instead of that stuff you take.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-3a0-2bc-85d" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i3t6ay3">3 hr</li></ul></div></div><!-- 8 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830397-22.webp?v=1746126783" alt="" id="fkt-image-e81-38d-bfb" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830397-22.webp?v=1746126783" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ionlc2k">Isabella Mayson
				</h3><p data-text="text" data-secondsdelay="" id="ior5t59">Just got mine today. I’m using it tonight for the first time. Fingers crossed!
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-d12-a8a-8f3" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ipo170q">4 hr</li></ul></div></div><!-- 9 --><div data-secondsdelay="" id="icrujv3" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830416-23.webp?v=1746126784" alt="" id="fkt-image-280-a96-833" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830416-23.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="i1wvzcr">Hank Schneider
				</h3><p data-text="text" data-secondsdelay="" id="i5c0pdd">Have you bought one? How long does it take to get to you?
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-3d4-a8a-8d6" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i03kb99">4 hr</li></ul></div></div><!-- 10 --><div data-secondsdelay="" id="i0oj3jx" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830420-24.webp?v=1746126784" alt="" id="fkt-image-1c2-2be-bed" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830420-24.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="i7cz3ek">Susan Brown
				</h3><p data-text="text" data-secondsdelay="" id="ij8dljx">For me, 7 working days.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-c9e-7a2-a58" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ijijk4h">4 hr</li></ul></div></div><!-- 11 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830424-25.webp?v=1746126784" alt="" id="fkt-image-4c5-98e-90d" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830424-25.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ihvek9f">Gisella Neumann
				</h3><p data-text="text" data-secondsdelay="" id="iaweq0n">My granddaughter actually showed me the SmoothSpine. I didn’t believe it at first, but after just a few uses, I feel steady on my feet again!
				</p><ul><li data-text="text" data-secondsdelay="" id="ibnwrdz">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-3e9-599-ba1" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i51g8bt">5 hr</li></ul></div></div><!-- 12 --><div data-secondsdelay="" id="i9pvg2g" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830429-26_3b11819c-2a56-4085-b81f-ce17dd9e77bf.webp?v=1746126784" alt="" id="fkt-image-8ed-79b-934" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830429-26_3b11819c-2a56-4085-b81f-ce17dd9e77bf.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="iq7kg9g">Paula Rowen
				</h3><p data-text="text" data-secondsdelay="" id="i7uopxj">Wow this sounds amazing. Has anyone over 60 tried this?
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-12b-ead-916" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="icbw3go">5 hr</li></ul></div></div><!-- 13 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830483-27.webp?v=1746126581" alt="" id="fkt-image-6cc-880-921" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830483-27.webp?v=1746126581" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" id="iu071wn" class="k-right"><h3 data-text="text" data-secondsdelay="" id="iqsujnu">Anna White
				</h3><p data-text="text" data-secondsdelay="" id="iqco1qd">I’ve been using it for three weeks now and I’m honestly shocked. No more burning, and I can finally sleep through the night. My back hasn’t felt like this in YEARS.
				</p><img id="fkt-image-9b2-c9c-887" title="" target="_self" src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1753108854342_Screenshot_2.png" href="" align="center" alt="" width="" height="" onclick="" data-src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1753108854342_Screenshot_2.png" class="fk-image-defaults" loading="lazy"><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-32c-486-924" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ipqez4h">6 hr</li></ul></div></div><!-- 14 --><div data-secondsdelay="" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830434-28_c098540b-d798-44a6-8245-e62025e77455.webp?v=1746126784" alt="" id="fkt-image-0a1-d86-990" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830434-28_c098540b-d798-44a6-8245-e62025e77455.webp?v=1746126784" loading="lazy" class="re-fk-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="itvmqnq">Agnes Graeme
				</h3><p data-text="text" data-secondsdelay="">I just ordered mine! Cannot wait for it.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-166-ebb-a60" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy fk-disable-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ibe4qxj">6 hr</li></ul></div></div><!-- 15 --><div data-secondsdelay="" id="i5pqxnv" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830439-29_8b32ddc5-0a1f-4ff4-a498-8b7cd730b943.webp?v=1746126784" alt="" id="fkt-image-f8c-e8c-a18" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/1686830439-29_8b32ddc5-0a1f-4ff4-a498-8b7cd730b943.webp?v=1746126784" loading="lazy" class="re-fk-lazy fk-disable-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ipza4xo">Barbara Kruger
				</h3><p data-text="text" data-secondsdelay="" id="i6opl38">I really want to test this out. My back has been killing me lately.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" id="fkt-image-283-d9d-9e2" title="" target="_self" href="" align="center" width="" height="" onclick="" data-src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" loading="lazy" class="like-icon re-fk-lazy fk-disable-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="ica0nnt">6 h</li></ul></div></div><div data-secondsdelay="" id="idpl7mr" class="km-inner km-inner3"><div data-secondsdelay="" class="k-img"><img src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1752680500770_download_2_.jpg" alt="" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-bf1-2b8-a4b" class="fk-disable-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ic16lhz">Mia Krause
				</h3><p data-text="text" data-secondsdelay="" id="iosempu">Does anyone know how long shipping takes? I want to surprise my dad with one.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-da0-ab2-ada" class="like-icon fk-disable-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="iyv5ujh">7 hr</li></ul></div></div><div data-secondsdelay="" id="i7ejqed" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1752680508014_download.jpg" alt="" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-04c-184-b37" class="fk-disable-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="io1jnlv">Laura Lehmann
				</h3><p data-text="text" data-secondsdelay="" id="i6u4cmb">Hey Mia, mine arrived after about a week.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-3aa-2b9-9f2" class="like-icon fk-disable-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="i4jj936">7 hr</li></ul></div></div><div data-secondsdelay="" id="i55ft0j" class="km-inner km-inner2"><div data-secondsdelay="" class="k-img"><img src="https://assets.checkoutchamp.com/3bfe8e34-c374-43b9-b02d-43313733689b/1752680497638_download_1_.jpg" alt="" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-ccd-abd-867" class="fk-disable-lazy"></div><div data-secondsdelay="" class="k-right"><h3 data-text="text" data-secondsdelay="" id="ibuoonm">Emma Shelby
				</h3><p data-text="text" data-secondsdelay="" id="icpgz6u">Your dad will love it! It’s the perfect gift if he’s been struggling with nerve pain.
				</p><ul><li data-text="text" data-secondsdelay="">Like ·
				  </li><li data-text="text" data-secondsdelay="">Reply ·
				  </li><li><span class="fb-like"><img src="https://cdn.shopify.com/s/files/1/0669/8739/3334/files/download.avif?v=1746127816" alt="Like" title="" target="_self" href="" align="center" width="" height="" onclick="" id="fkt-image-102-1b5-bce" class="like-icon fk-disable-lazy"> 4
					</span></li><li data-text="text" data-secondsdelay="" id="iecozwj">7 hr</li></ul></div></div><!-- end --></div></div></div></section>
    </div>
    </div>
  
      <style id="custom-css-gxL9sHDyea">
        .kommen-area{
  padding:50px 0 0 0;
}
.kommen-inner{
  padding-bottom: 20px;
  border-bottom:1px solid rgb(233, 234, 237);
  max-width:1200px;
  margin:0 auto;
}
.kommen-top label{
  display:block;
  font-size:18px;
  font-weight:400;
  color:#303030;
  margin:0 0 20px;
  font-family: 'Open Sans';
    font-style: normal;
}
.kommen-top input{
  width:100%;
  color:rgb(197, 199, 210);
  line-height:1;
  outline:0;
  padding:15px;
  border:1px solid #e9eae9;
  font-size:16px;
  border-radius:3px;
  margin-bottom:30px;
  box-sizing:border-box;
  font-family: 'Open Sans';
    font-style: normal;
}
.kommen-top input::placeholder{
  opacity:1;
}
.km-inner{
  padding-top:10px;
  display:flex;
  align-items:flex-start;
}
.k-img img{
  width:45px;
  height:45px;
  border-radius:4px;
  object-fit:cover;
}
.k-img{
  padding-right:10px;
  flex-shrink:0;
}
.k-right img{
    max-width: 100px !important;
}
.k-right h3{
  font-family: 'Open Sans';
  font-size:14px;
  line-height:14px;
  font-weight:700;
  color:#365899;
  margin:0;
text-transform: capitalize;
letter-spacing: normal;
}
.k-right p{
  font-size:14px;
  line-height:14px;
  font-weight:400;
  color:#303030;
  margin:4px 0 10px;
}
.k-right ul{
  display:flex;
  align-items:center;
  padding:0;
  margin:0;
  list-style:none;
}
.k-right ul li{
  color:#7f7f7f;
  font-size:14px;
  font-weight:400;
  padding-right:7px;
  list-style:none;
}
.fb-like{
  color:#3578E5;
  font-weight:600;
  display:flex;
  align-items:center;
}
.like-icon{
  width:16px;
  height:16px;
  margin-right:3px;
}
.km-inner2{
  padding:0;
  padding-left:60px;
  padding-top:10px;
}
.km-inner3{
  padding:20px 0;
}
      </style>
    