
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-578375832100143632.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-578375832100143632.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-578375832100143632.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-578375832100143632.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-578375832100143632.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-578375832100143632.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-578375832100143632.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-578375832100143632.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-578375832100143632.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-578375832100143632.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-578375832100143632.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-578375832100143632.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-578375832100143632.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-578375832100143632.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-578375832100143632.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-578375832100143632.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-578375832100143632.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-578375832100143632.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-578375832100143632.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-578375832100143632.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-578375832100143632.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-578375832100143632.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-578375832100143632.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-578375832100143632.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-578375832100143632.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-578375832100143632.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-578375832100143632.gps.gpsil [style*="--hvr-shadow:"]:hover{box-shadow:var(--hvr-shadow)}.gps-578375832100143632.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-578375832100143632.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-578375832100143632.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-578375832100143632.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-578375832100143632.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-578375832100143632.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-578375832100143632.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-578375832100143632.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-578375832100143632.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-578375832100143632.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-578375832100143632.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-578375832100143632.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-578375832100143632.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-578375832100143632.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-578375832100143632.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-578375832100143632.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-578375832100143632.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-578375832100143632.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-578375832100143632.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-578375832100143632.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-578375832100143632.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-578375832100143632.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-578375832100143632.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-578375832100143632.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-578375832100143632.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-578375832100143632.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-578375832100143632.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-578375832100143632.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-578375832100143632.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-578375832100143632.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-578375832100143632.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-578375832100143632.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-578375832100143632.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-578375832100143632.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-578375832100143632.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-578375832100143632.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-578375832100143632.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-578375832100143632.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-578375832100143632.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-578375832100143632.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-578375832100143632.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-578375832100143632.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-578375832100143632.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-578375832100143632.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-578375832100143632.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-578375832100143632.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-578375832100143632.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-578375832100143632.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-578375832100143632.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-578375832100143632.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-578375832100143632.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-578375832100143632.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-578375832100143632.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-578375832100143632.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-578375832100143632.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-578375832100143632.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-578375832100143632.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-578375832100143632.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-578375832100143632.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-578375832100143632.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-578375832100143632.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-578375832100143632.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-578375832100143632.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-578375832100143632.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-578375832100143632.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-578375832100143632.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-578375832100143632.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-578375832100143632.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-578375832100143632.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-578375832100143632.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-578375832100143632 .gp-relative{position:relative}.gps-578375832100143632 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-578375832100143632 .gp-mb-0{margin-bottom:0}.gps-578375832100143632 .gp-inline-block{display:inline-block}.gps-578375832100143632 .gp-flex{display:flex}.gps-578375832100143632 .gp-inline-flex{display:inline-flex}.gps-578375832100143632 .gp-grid{display:grid}.gps-578375832100143632 .gp-contents{display:contents}.gps-578375832100143632 .\!gp-hidden{display:none!important}.gps-578375832100143632 .gp-hidden{display:none}.gps-578375832100143632 .gp-h-auto{height:auto}.gps-578375832100143632 .gp-h-full{height:100%}.gps-578375832100143632 .gp-w-full{width:100%}.gps-578375832100143632 .\!gp-max-w-none{max-width:none!important}.gps-578375832100143632 .gp-max-w-full{max-width:100%}.gps-578375832100143632 .gp-flex-none{flex:none}.gps-578375832100143632 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-578375832100143632 .gp-flex-col{flex-direction:column}.gps-578375832100143632 .gp-items-center{align-items:center}.gps-578375832100143632 .gp-justify-center{justify-content:center}.gps-578375832100143632 .gp-overflow-hidden{overflow:hidden}.gps-578375832100143632 .gp-break-words{overflow-wrap:break-word}.gps-578375832100143632 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-578375832100143632 .gp-text-center{text-align:center}.gps-578375832100143632 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-578375832100143632 .gp-no-underline{text-decoration-line:none}.gps-578375832100143632 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578375832100143632 .gp-duration-200{transition-duration:.2s}.gps-578375832100143632 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-578375832100143632 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-578375832100143632 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-578375832100143632 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-578375832100143632 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-578375832100143632 .tablet\:\!gp-hidden{display:none!important}.gps-578375832100143632 .tablet\:gp-hidden{display:none}.gps-578375832100143632 .tablet\:gp-h-auto{height:auto}.gps-578375832100143632 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-578375832100143632 .mobile\:\!gp-hidden{display:none!important}.gps-578375832100143632 .mobile\:gp-hidden{display:none}.gps-578375832100143632 .mobile\:gp-h-auto{height:auto}.gps-578375832100143632 .mobile\:gp-flex-none{flex:none}}.gps-578375832100143632 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-578375832100143632 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-578375832100143632 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-578375832100143632 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-578375832100143632 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVQ&skey=62c1cbfccc78b4b2&v=v44) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* math */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTVOmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTUGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gf7YI8qnyE"}' data-id="gf7YI8qnyE" id="gf7YI8qnyE" data-same-height-subgrid-container class="gf7YI8qnyE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNNMrXMfBN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g596pCkgZz"}' data-id="g596pCkgZz" id="g596pCkgZz" data-same-height-subgrid-container class="g596pCkgZz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--pt-tablet:0px;--pl-tablet:var(--g-s-m);--pb-tablet:0px;--pr-tablet:var(--g-s-m);--cg:10px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfyV0k8oPr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g5-1kfxcw-"}' data-id="g5-1kfxcw-" id="g5-1kfxcw-" data-same-height-subgrid-container class="g5-1kfxcw- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      {% render 'gp-section-578375832100143632-18', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="glsKZDgfRw gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-578375832100143632 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=578273220180837138&sectionId=578375832100143632)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7VX231meC_text","label":"gg7VX231meC_text","default":"Luckily, now there’s a way to finally fix this at the root."},{"type":"html","id":"ggmqm2z05w4_text","label":"ggmqm2z05w4_text","default":"<p>I’ll be honest - after years of watching my patients waste money on painkillers, heating pads, and gimmicky devices… I was starting to think <strong>nothing</strong> could help people fix their sciatica at home.</p><p>&nbsp;</p><p>But then it clicked.</p><p>&nbsp;</p><p>To actually relieve chronic lower back pain and sciatica, you need to do <strong>3 things</strong> - all at the same time:</p>"},{"type":"html","id":"ggjNJlwO41u_srcSet_desktop_src","label":"ggjNJlwO41u_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggmLY7MLK4S_text","label":"ggmLY7MLK4S_text","default":"<p>Apply <strong>gentle traction</strong> to relieve pressure on the spine</p>"},{"type":"html","id":"ggk8vdAQ461_srcSet_desktop_src","label":"ggk8vdAQ461_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggUsey9HqSo_text","label":"ggUsey9HqSo_text","default":"<p>Use <strong>heat therapy</strong> to loosen tight muscles and improve blood flow</p>"},{"type":"html","id":"gg1Q1C8xQTC_srcSet_desktop_src","label":"gg1Q1C8xQTC_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggyCz32dnSP_text","label":"ggyCz32dnSP_text","default":"<p>Add <strong>deep-tissue massage</strong> to rehydrate the discs and calm inflammation</p>"},{"type":"html","id":"ggZv7uOzkIR_text","label":"ggZv7uOzkIR_text","default":"<p>That’s the only combination that works - and it has to happen together, consistently, and in a way that doesn’t make the pain worse.</p><p>&nbsp;</p><p>So at that point, I knew what had to be done.</p><p>&nbsp;</p><p><strong>We needed a solution that fused all 3 therapies - traction, heat, and massage - into one simple, at-home routine.</strong></p>"},{"type":"html","id":"ggcjXn0gX0j_youtubeUrl","label":"ggcjXn0gX0j_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggcjXn0gX0j_vimeoUrl","label":"ggcjXn0gX0j_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggcjXn0gX0j_html5Url","label":"ggcjXn0gX0j_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/92333220946e41318f590f2b6ecb953b.mp4"},{"type":"html","id":"gghSq6CwGNq_text","label":"gghSq6CwGNq_text","default":"That’s when I teamed up with a health tech startup to help develop something completely new."},{"type":"html","id":"gg1ka3cWCPN_text","label":"gg1ka3cWCPN_text","default":"<p>The device we developed together is called the <strong>SmoothSpine™ Triple Fusion Back Massager</strong>.</p><p>&nbsp;</p><p>And it uses a method we now call:</p>"},{"type":"html","id":"ggTIUDKVJdc_text","label":"ggTIUDKVJdc_text","default":"<p>“Triple Fusion”™️ Technology</p>"},{"type":"html","id":"ggU0CiC-I-5_text","label":"ggU0CiC-I-5_text","default":"<p>Which works by:</p>"},{"type":"html","id":"gg-9mPJlFKK_srcSet_desktop_src","label":"gg-9mPJlFKK_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggRW0z0tjbX_text","label":"ggRW0z0tjbX_text","default":"<p><strong>Gently stretching your spine</strong> to create space between compressed vertebrae</p>"},{"type":"html","id":"ggtoy9B7ASJ_srcSet_desktop_src","label":"ggtoy9B7ASJ_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggaXkRQZbDX_text","label":"ggaXkRQZbDX_text","default":"<p><strong>Warming your lower back</strong> to relax tense muscles and increase blood flow</p>"},{"type":"html","id":"ggORhOV_gGx_srcSet_desktop_src","label":"ggORhOV_gGx_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"gg4KI7Izxfv_text","label":"gg4KI7Izxfv_text","default":"<p><strong>Massaging deep tissue</strong> to stimulate hydration and repair of your spinal discs</p>"},{"type":"html","id":"ggKrZw7Kx9o_youtubeUrl","label":"ggKrZw7Kx9o_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggKrZw7Kx9o_vimeoUrl","label":"ggKrZw7Kx9o_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggKrZw7Kx9o_html5Url","label":"ggKrZw7Kx9o_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/c2eef483466d4a489f8c907eedadd6b2.mp4"},{"type":"html","id":"ggaMhl64L5I_text","label":"ggaMhl64L5I_text","default":"<p>And when all three work together, something incredible happens:</p><p>&nbsp;</p><p>👉 The pressure on your sciatic nerve finally releases.</p><p>&nbsp;</p><p>👉 The inflammation starts to ease.</p><p>&nbsp;</p><p>👉 And the pain that once ruled your life starts to melt away.</p><p>&nbsp;</p><p>All without a single appointment, pill, or surgery.</p>"},{"type":"html","id":"ggdh_E1Ugjh_text","label":"ggdh_E1Ugjh_text","default":"Why It’s Unlike Anything Else You’ve Tried"},{"type":"html","id":"ggn0NaGGnpd_text","label":"ggn0NaGGnpd_text","default":"<p>I’ve seen every tool out there - massagers, TENS units, heating pads, you name it.</p><p>&nbsp;</p><p>But here’s the problem with those “solutions”:</p>"},{"type":"html","id":"ggP9kSuL4s9_srcSet_desktop_src","label":"ggP9kSuL4s9_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggmH9kLNsMP_text","label":"ggmH9kLNsMP_text","default":"<p><strong>Massage guns</strong> don’t target the spinal area properly - and they can actually make inflammation worse if used incorrectly.</p>"},{"type":"html","id":"gg9P79r4ShF_srcSet_desktop_src","label":"gg9P79r4ShF_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggqlu12tnjO_text","label":"ggqlu12tnjO_text","default":"<p><strong>Heat patches</strong> only warm the surface, but they don’t address the nerve or the spine.</p>"},{"type":"html","id":"gg2zlurQm60_srcSet_desktop_src","label":"gg2zlurQm60_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"gg_pEC8oGO4_text","label":"gg_pEC8oGO4_text","default":"<p><strong>Inversion tables</strong> are massive, expensive, and can be dangerous if you have blood pressure issues.</p>"},{"type":"html","id":"ggdtRLUQJZi_srcSet_desktop_src","label":"ggdtRLUQJZi_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-312b5de8-f238-4bba-b3f4-dd057015f45b.png"},{"type":"html","id":"ggPwpd1bcP7_text","label":"ggPwpd1bcP7_text","default":"<p>And <strong>traction devices</strong> are often bulky, complicated, and miss the healing benefits of heat and massage altogether.</p>"},{"type":"html","id":"ggZalBVbZRj_text","label":"ggZalBVbZRj_text","default":"<p>That’s why the <strong>SmoothSpine™ Triple Fusion Back Massager</strong> is in a league of its own.</p>"},{"type":"html","id":"ggh_8lDNl7Q_text","label":"ggh_8lDNl7Q_text","default":"<p>It’s like bringing <strong>a chiropractor, a massage therapist, and a posture coach</strong> into your living room…<strong>without the cost, commute, or guesswork.</strong></p>"},{"type":"html","id":"ggMnM_wBc8F_text","label":"ggMnM_wBc8F_text","default":"<p>It’s the <strong>only at-home device</strong> that combines <strong>traction, heat therapy, and massage</strong> - the 3 proven pillars of sciatica relief - into one effortless daily routine.</p>"},{"type":"html","id":"ggEkR6LY-wZ_youtubeUrl","label":"ggEkR6LY-wZ_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggEkR6LY-wZ_vimeoUrl","label":"ggEkR6LY-wZ_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggEkR6LY-wZ_html5Url","label":"ggEkR6LY-wZ_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/77f4cd8d42394ac5a8c51b9c17418a7c.mp4"},{"type":"html","id":"gg8yc72Q8Y2_text","label":"gg8yc72Q8Y2_text","default":"Let Me Walk You Through How It Works"},{"type":"html","id":"gg4sHQalYA__text","label":"gg4sHQalYA__text","default":"<p><strong>First</strong>, it uses <strong>deep-tissue kneading massage</strong> to relax the muscles in your lower back.</p><p>&nbsp;</p><p>Why does this matter?</p><p>&nbsp;</p><p>Because when your muscles are tight, they <strong>lock your spine in place</strong> and pull your vertebrae out of alignment, keeping the pressure on your sciatic nerve. This rhythmic massage helps those muscles finally let go, so your spine can start moving the way it’s meant to again.</p><p>&nbsp;</p><p><strong>Then</strong>, <strong>the infrared heat therapy</strong> kicks in. This isn’t just to make it “feel nice.”</p><p>&nbsp;</p><p>Heat boosts blood flow to the area, delivers nutrients to the discs, and creates the ideal environment for healing - especially if you’ve been stiff and sedentary for a while.</p><p>&nbsp;</p><p>It’s the warmth your spine needs to recover.</p><p>&nbsp;</p><p><strong>Finally</strong>, the device gently inflates to apply <strong>targeted spinal traction</strong> - the airbag system gently lifts and stretches your lower back with just the right amount of force.</p>"},{"type":"html","id":"ggySGCEcr77_youtubeUrl","label":"ggySGCEcr77_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggySGCEcr77_vimeoUrl","label":"ggySGCEcr77_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggySGCEcr77_html5Url","label":"ggySGCEcr77_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/e5924c2e63dd42ce9a2cf2b1cd758130.mp4"},{"type":"html","id":"ggmfNeL89M__text","label":"ggmfNeL89M__text","default":"<p>This is what decompresses your spine, creates space between your vertebrae, and relieves pressure on the sciatic nerve. At the same time, it allows your discs to rehydrate and regain the cushioning they’ve lost over time.</p>"},{"type":"html","id":"ggTFf2TL40Y_text","label":"ggTFf2TL40Y_text","default":"<p><strong>This is the game-changer:</strong></p><p>&nbsp;</p><p>Most devices only do one of these things.</p><p>&nbsp;</p><p>But pain relief only becomes lasting when you do all 3 - <strong>in the right order, every day</strong>.</p>"},{"type":"html","id":"ggo-itam1pO_text","label":"ggo-itam1pO_text","default":"<p>And that’s exactly what SmoothSpine does.</p><p>&nbsp;</p><p>Automatically. <strong>In just 15 minutes a day.</strong> While you lie back and let it do the work.</p>"},{"type":"html","id":"ggX4rs_iMWJ_text","label":"ggX4rs_iMWJ_text","default":"<p>It’s like your spine finally gets room to breathe.</p><p>&nbsp;</p><p>That tight, locked-up feeling? It starts to dissolve.</p><p>&nbsp;</p><p>That nerve pain shooting down your leg? Eases.</p><p>&nbsp;</p><p>And for the first time in a long time - you relax.</p>"},{"type":"html","id":"gg3yn7FTl6g_text","label":"gg3yn7FTl6g_text","default":"<p>Most people say they feel a noticeable shift after just one session.</p><p>&nbsp;</p><p>But the real magic comes with consistent use.</p>"},{"type":"html","id":"gg-2SJ-kjwR_youtubeUrl","label":"gg-2SJ-kjwR_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg-2SJ-kjwR_vimeoUrl","label":"gg-2SJ-kjwR_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg-2SJ-kjwR_html5Url","label":"gg-2SJ-kjwR_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/604cbe6e5e84483bbc7785970e6671a4.mp4"},{"type":"html","id":"ggdeSqCtm0k_text","label":"ggdeSqCtm0k_text","default":"<p>Just a few minutes a day, and your spine finally gets what it’s been begging for all along:</p><p>&nbsp;</p><p>Relief from the inside out - not just a band-aid on the pain.</p>"},{"type":"html","id":"ggoph7dYSsn_text","label":"ggoph7dYSsn_text","default":"All You Have to Do Is Lie Down"},{"type":"html","id":"ggZyGicx1_4_text","label":"ggZyGicx1_4_text","default":"<p>Using the SmoothSpine™ Triple Fusion Back Massager couldn’t be easier.</p><p>&nbsp;</p><p>Just find a comfortable spot - your bed, couch, or floor - plug it in, and lie back.</p>"},{"type":"html","id":"ggGssKyM9RU_text","label":"ggGssKyM9RU_text","default":"<p>No straps, no setups, no complicated routines.</p><p>&nbsp;</p><p>No need to hang upside down, book appointments, or wait in traffic.</p>"},{"type":"html","id":"ggOh0ialzuR_text","label":"ggOh0ialzuR_text","default":"<p>Hit the power button and let the device do all the work.</p><p>&nbsp;</p><p>The built-in heat, massage, and traction features start working automatically in a synced, pre-calibrated sequence designed by physical therapy experts.</p>"},{"type":"html","id":"ggnLmYH5Lc3_youtubeUrl","label":"ggnLmYH5Lc3_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggnLmYH5Lc3_vimeoUrl","label":"ggnLmYH5Lc3_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggnLmYH5Lc3_html5Url","label":"ggnLmYH5Lc3_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/b7707ee893a44775b521a3e709523c31.mp4"},{"type":"html","id":"ggRK-iRFt2W_text","label":"ggRK-iRFt2W_text","default":"<p>In just 10 minutes a day, it delivers what hours of stretching, massage, and chiropractic work can’t: deep decompression and relief at the source.</p><p>&nbsp;</p><p><strong>It’s like pressing reset on your spine - without lifting a finger.</strong></p>"},{"type":"html","id":"ggjODhBylLH_text","label":"ggjODhBylLH_text","default":"Imagine What Life Could Feel Like Without That Pain"},{"type":"html","id":"gg5FIPYpx1B_text","label":"gg5FIPYpx1B_text","default":"<p>Imagine getting out of bed without wincing.</p><p>&nbsp;</p><p>Standing in the kitchen and cooking a full meal without needing a break.</p><p>&nbsp;</p><p>Sitting through a movie… a road trip… even a flight - without shifting every five minutes, trying to find some relief.</p><p>&nbsp;</p><p>Imagine walking down the street without that stabbing sensation in your lower back or that electric jolt shooting down your leg.</p>"},{"type":"html","id":"ggzRHndV0iA_text","label":"ggzRHndV0iA_text","default":"<p>No more groaning when you bend down.</p><p>&nbsp;</p><p>No more clenching through the pain when you stand up.</p><p>&nbsp;</p><p>No more relying on pills just to get through the day.</p>"},{"type":"html","id":"ggXCqvuyqlS_text","label":"ggXCqvuyqlS_text","default":"<p>Just you - moving freely, confidently, and without hesitation.</p><p>&nbsp;</p><p>Able to focus on <strong>life</strong>, not the next flare-up.</p><p>&nbsp;</p><p>This isn’t a fantasy. It’s what thousands of people are already experiencing with SmoothSpine™ Triple Fusion Back Massager.</p><p>&nbsp;</p><p>And you could be next.</p>"},{"type":"html","id":"gg6csYxeG5G_youtubeUrl","label":"gg6csYxeG5G_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg6csYxeG5G_vimeoUrl","label":"gg6csYxeG5G_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg6csYxeG5G_html5Url","label":"gg6csYxeG5G_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/5db8ff253ed34268b4475bac8ae9a8b0.mp4"},{"type":"html","id":"ggrMq7oQsyw_text","label":"ggrMq7oQsyw_text","default":"The SmoothSpine™ Triple Fusion Back Massager Has Already Helped More Than 21,500 People Fix Sciatica"},{"type":"html","id":"gg7W7pzYVUt_srcSet_desktop_src","label":"gg7W7pzYVUt_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-bf3190c5-1a8a-40ec-ae87-71729cdf6f57.jpg"},{"type":"html","id":"ggQYCKaj2iT_text","label":"ggQYCKaj2iT_text","default":"<p><strong>Jessica T. </strong>– 47, Austin, TX</p>"},{"type":"html","id":"ggZrxLRh85C_srcSet_desktop_src","label":"ggZrxLRh85C_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-57507250-c0b0-43ed-a9b3-5bdef2a6c33a.png"},{"type":"html","id":"ggGrDQ-Db-X_text","label":"ggGrDQ-Db-X_text","default":"<p>“I genuinely thought I’d end up on the surgery table.”</p>"},{"type":"html","id":"ggNRnMhFRrr_text","label":"ggNRnMhFRrr_text","default":"<p>Reviewed in the United States on June 13, 2025</p>"},{"type":"html","id":"ggu4Jq_I7EJ_text","label":"ggu4Jq_I7EJ_text","default":"<p>Verified Purchase</p>"},{"type":"html","id":"ggYqXKhd5XU_text","label":"ggYqXKhd5XU_text","default":"<p>I’ve lived with sciatica for nearly 8 years. It started as a dull ache, but after a long car ride last fall, something shifted - and the pain became constant. I couldn’t sit, lie down, or stand for long without this electric shock shooting through my lower back and all the way to my ankle.</p><p>&nbsp;</p><p>I tried everything - painkillers, massages, acupuncture, physical therapy… all of it. Some things helped for a few days, but the pain always came back. I was scared. My doctor mentioned surgery and I broke down crying in my car afterward.</p><p>&nbsp;</p><p>Then a friend told me about the Triple Fusion Massager. I didn’t expect much, but by day three, I noticed I wasn’t wincing when getting out of bed. A week later, I walked my dog for 30 minutes without needing to sit down once.</p><p>&nbsp;</p><p>I still use it every evening. It’s become my nightly ritual - and my lifeline. I haven’t needed a single pain pill in over two months.</p>"},{"type":"html","id":"ggjzEHuFPgy_srcSet_desktop_src","label":"ggjzEHuFPgy_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-d83db434-032d-41b2-8927-e5761eef9519.jpg"},{"type":"html","id":"ggin4XGvIX4_text","label":"ggin4XGvIX4_text","default":"<p><strong>Rick M.</strong> – 62, Chicago, IL</p>"},{"type":"html","id":"gghIEzubHV__srcSet_desktop_src","label":"gghIEzubHV__srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-57507250-c0b0-43ed-a9b3-5bdef2a6c33a.png"},{"type":"html","id":"gg65c5pOz38_text","label":"gg65c5pOz38_text","default":"<p>“Didn’t expect it to work for my wife too.”</p>"},{"type":"html","id":"gg0gYqCYxRu_text","label":"gg0gYqCYxRu_text","default":"<p>Reviewed in the United States on July 28, 2025</p>"},{"type":"html","id":"gg3xs998PIc_text","label":"gg3xs998PIc_text","default":"<p>Verified Purchase</p>"},{"type":"html","id":"gg7WtCs2I7E_text","label":"gg7WtCs2I7E_text","default":"<p>I bought this for myself after my lower back started locking up at work. I drive a delivery truck, and sitting for hours was wrecking my spine. The traction and heat combo gave me noticeable relief by the end of the first week.</p><p>&nbsp;</p><p>But here’s the surprise: my wife, who has fibromyalgia and chronic hip tightness, tried it one night - and hasn’t stopped using it since.</p><p>&nbsp;</p><p>She says it’s the only thing that doesn’t just mask the pain, but makes her body feel safe again.</p><p>&nbsp;</p><p>Now we fight over who gets it first in the evening. Might have to get a second one.</p>"},{"type":"html","id":"gg2Wn5LSSMs_youtubeUrl","label":"gg2Wn5LSSMs_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg2Wn5LSSMs_vimeoUrl","label":"gg2Wn5LSSMs_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg2Wn5LSSMs_html5Url","label":"gg2Wn5LSSMs_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/2f6b1e7977c74d5ab883e11842492ca2.mp4"},{"type":"html","id":"ggoSoJ7cK28_text","label":"ggoSoJ7cK28_text","default":"So… How Much Does It Cost?"},{"type":"html","id":"ggqqCbf_Wrn_text","label":"ggqqCbf_Wrn_text","default":"<p>Here’s the thing:</p><p>&nbsp;</p><p>Most people who suffer from sciatica are told they need months of physical therapy, regular chiropractor visits, or - in extreme cases - spinal injections or surgery.</p><p>&nbsp;</p><p>And those treatments don’t come cheap:</p>"},{"type":"html","id":"ggTnUb8HjD0_text","label":"ggTnUb8HjD0_text","default":"<p>- A single chiropractor visit? $80–$150</p><p><br>- Physical therapy session? $120 on average</p><p><br>- Pain injections? $1,000+ per shot</p><p><br>- Back surgery? Don’t even ask - $30,000 minimum</p>"},{"type":"html","id":"gghZFaO2CRv_text","label":"gghZFaO2CRv_text","default":"<p>All that… just to maybe feel better.</p>"},{"type":"html","id":"ggWI53y5GIA_youtubeUrl","label":"ggWI53y5GIA_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggWI53y5GIA_vimeoUrl","label":"ggWI53y5GIA_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggWI53y5GIA_html5Url","label":"ggWI53y5GIA_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/27608c0096994cd6ba59f967158cf8d2.mp4"},{"type":"html","id":"ggbGyypNlgF_text","label":"ggbGyypNlgF_text","default":"<p>When we looked at what the average person goes through, we realized something needed to change. You shouldn’t have to drain your savings or gamble on risky procedures just to move without pain.</p><p>That’s why the SmoothSpine™ Triple Fusion Back Massager doesn’t cost thousands… or even hundreds per session.</p>"},{"type":"html","id":"ggWzbd1WhHe_text","label":"ggWzbd1WhHe_text","default":"<p>It’s just <strong>$299.95</strong> - less than what most people spend on one therapy session.</p>"},{"type":"html","id":"ggWzwAdmMce_text","label":"ggWzwAdmMce_text","default":"<p>And remember:</p><p>&nbsp;</p><p>You’re not paying that every week, or even every month. This is a **<strong>one-time investment</strong>** you can use for years to come.</p><p>&nbsp;</p><p>A one-time cost…</p><p>&nbsp;</p><p>For daily relief. For freedom of movement. <strong>For your life back.</strong></p><p>&nbsp;</p><p><strong>But you won’t have to pay even $299.95!</strong></p>"},{"type":"html","id":"ggx9xUA9Sh2_text","label":"ggx9xUA9Sh2_text","default":"I Decided to Offer a Special Limited-Time Discount&nbsp;and Let You Have Your Own SmoothSpine Triple Fusion Back Massager at 60% OFF!"},{"type":"html","id":"ggSHT-DufR0_text","label":"ggSHT-DufR0_text","default":"<p>When we first launched our massager, it was priced at <strong>$299.95</strong>.</p><p>&nbsp;</p><p>And honestly? That was already a steal.</p><p>&nbsp;</p><p>Most people spend more than that <strong>every single month</strong> on physical therapy, massage appointments, or painkillers that don’t even fix the root issue.</p><p>&nbsp;</p><p>This one-time investment replaced <strong>all of that</strong> - and thousands of customers gladly paid full price because it actually worked.</p><p>&nbsp;</p><p>But we get it…</p><p>&nbsp;</p><p>Not everyone has $299.95 lying around - especially when you're already dealing with medical bills, missed work, or other expenses caused by your pain.</p><p>&nbsp;</p><p>So when demand grew and we scaled production, we made a choice:</p><p>&nbsp;</p><p>Instead of pocketing the extra profit, we dropped the price.</p><p>&nbsp;</p><p>Because we believe <strong>everyone deserves to feel good in their own body</strong>.</p><p>&nbsp;</p><p>That’s why, for a limited time, you can get the <strong>Triple Fusion Massager for just $119.95</strong>.</p>"},{"type":"html","id":"gg6jtB6Vx0S_srcSet_desktop_src","label":"gg6jtB6Vx0S_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-99dc45ea-67de-4494-9024-35ecfefe2b7e.webp"},{"type":"html","id":"ggY8B1qerzp_text","label":"ggY8B1qerzp_text","default":"👉 That’s over $180 off - without sacrificing a single feature."},{"type":"html","id":"gghFxRxLBbH_text","label":"gghFxRxLBbH_text","default":"<p>⚠️ Just be aware: this discount is only available <strong>while current inventory lasts</strong>.</p><p>&nbsp;</p><p>We’ve already sold out <strong>multiple times</strong> this year - and each time, customers had to wait weeks for a restock.</p><p>&nbsp;</p><p>If you’re seeing this page, that means it’s still in stock - <strong>for now</strong>.</p><p>&nbsp;</p><p>But this offer won’t stay live forever.</p>"},{"type":"html","id":"gg-ki27PYrd_text","label":"gg-ki27PYrd_text","default":"<p>And one more thing: if it doesn’t work - you won’t pay!</p>"},{"type":"html","id":"ggUeeZTBJ3T_text","label":"ggUeeZTBJ3T_text","default":"You Can Test This Device For 90 Days, Completely Risk-Free!"},{"type":"html","id":"ggLknQLYTTY_text","label":"ggLknQLYTTY_text","default":"<p>I know it’s hard to believe that one device can replace years of frustration, pain, and failed treatments.</p><p>&nbsp;</p><p>That’s why every order of the SmoothSpine™ Triple Fusion Back Massager is backed by the <strong>90-Day “Relief or Refund” Guarantee</strong>.</p>"},{"type":"html","id":"gg3-tawhZZb_srcSet_desktop_src","label":"gg3-tawhZZb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-ad32c620-1f66-4723-9f75-2a4c056fdb22.webp"},{"type":"html","id":"ggYhS0tOfwk_text","label":"ggYhS0tOfwk_text","default":"<p>Try it for up to 3 full months. Use it daily. Feel the difference. And if you don’t notice real relief…</p><p>&nbsp;</p><p>If your pain doesn’t ease…</p><p>&nbsp;</p><p>If your body doesn’t start to feel like yours again…</p><p>&nbsp;</p><p>Or even if you just change your mind - you’ll get <strong>every penny back</strong>.</p><p>&nbsp;</p><p>No hassles. No questions.</p><p>&nbsp;</p><p>The SmoothSpine support team is here 24/7 to make sure you’re fully taken care of. Call, email, or message them any time - and we’ll take care of you.</p><p>&nbsp;</p><p>You’ve got <strong>nothing to lose but the pain</strong>.</p>"},{"type":"html","id":"ggV03JfiuMQ_text","label":"ggV03JfiuMQ_text","default":"But There’s One Thing You Should Know…"},{"type":"html","id":"gglLU5Qb7AC_text","label":"gglLU5Qb7AC_text","default":"<p>Since the SmoothSpine™ Triple Fusion Back Massager was released, demand has far outpaced supply. It’s not available in stores - only through our official SmoothSpine website.</p><p>&nbsp;</p><p>And every batch we produce <strong>sells out fast</strong>. Sometimes within days.</p><p>&nbsp;</p><p>So if you leave this page and come back later, <strong>there’s no guarantee it’ll still be in stock</strong> - especially at this price.</p><p>&nbsp;</p><p>This isn’t a scare tactic. It’s just the reality of launching a breakthrough solution like this.</p>"},{"type":"html","id":"gg8lmQrUXEJ_youtubeUrl","label":"gg8lmQrUXEJ_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg8lmQrUXEJ_vimeoUrl","label":"gg8lmQrUXEJ_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg8lmQrUXEJ_html5Url","label":"gg8lmQrUXEJ_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/1c203e53b37e4e6281b77f00bac54595.mp4"},{"type":"html","id":"ggmZ5oQY6gH_text","label":"ggmZ5oQY6gH_text","default":"It’s Your Move Now"},{"type":"html","id":"ggQ4OVTQZnN_text","label":"ggQ4OVTQZnN_text","default":"<p>You’ve learned the truth about sciatica. You understand what’s really causing that pain in your back, hips, and legs.</p><p>&nbsp;</p><p>And you’ve seen why most treatments don’t work - because they never reach the root.</p><p>&nbsp;</p><p>Now, there’s finally a way to fix it at home.</p><p>&nbsp;</p><p>Safely. Naturally. On your terms.</p><p>&nbsp;</p><p>Thousands are already using it. And today, it’s your turn.</p><p>&nbsp;</p><p>Just click the button below to check availability and see if the 60% discount is still active.</p><p>&nbsp;</p><p>If it is - grab it while you can.</p><p>&nbsp;</p><p>Because once this batch is gone, it could take weeks to restock… and the price may never drop this low again.</p><p>&nbsp;</p><p><strong>You don’t have to live with sciatica. You just have to take the first step.</strong></p>"},{"type":"html","id":"gg5OVjMz0il_label","label":"gg5OVjMz0il_label","default":"<p>GET 60% OFF SmoothSpine<br>“Triple Fusion” Massager Now!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}