
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557722742401532853.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557722742401532853.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557722742401532853.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557722742401532853.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557722742401532853.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557722742401532853.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557722742401532853.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557722742401532853.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557722742401532853.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557722742401532853.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557722742401532853.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557722742401532853.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557722742401532853.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-557722742401532853.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557722742401532853.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557722742401532853.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557722742401532853.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557722742401532853.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557722742401532853.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557722742401532853.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557722742401532853.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557722742401532853.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557722742401532853.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557722742401532853.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557722742401532853.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557722742401532853.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557722742401532853.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557722742401532853.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557722742401532853.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-557722742401532853.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-557722742401532853.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557722742401532853.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-557722742401532853.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557722742401532853.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557722742401532853.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557722742401532853.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557722742401532853.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557722742401532853.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557722742401532853.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557722742401532853.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557722742401532853.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557722742401532853.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557722742401532853.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-557722742401532853.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557722742401532853.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557722742401532853.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-557722742401532853.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557722742401532853.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557722742401532853.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557722742401532853.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557722742401532853.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557722742401532853.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-557722742401532853.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557722742401532853.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557722742401532853.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557722742401532853.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557722742401532853.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557722742401532853.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557722742401532853.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557722742401532853.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-557722742401532853.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557722742401532853.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-557722742401532853 .gp-relative{position:relative}.gps-557722742401532853 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557722742401532853 .gp-mb-0{margin-bottom:0}.gps-557722742401532853 .gp-flex{display:flex}.gps-557722742401532853 .gp-grid{display:grid}.gps-557722742401532853 .\!gp-hidden{display:none!important}.gps-557722742401532853 .gp-hidden{display:none}.gps-557722742401532853 .gp-max-w-full{max-width:100%}.gps-557722742401532853 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-557722742401532853 .gp-flex-col{flex-direction:column}.gps-557722742401532853 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557722742401532853 .gp-duration-200{transition-duration:.2s}.gps-557722742401532853 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557722742401532853 .tablet\:\!gp-hidden{display:none!important}.gps-557722742401532853 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557722742401532853 .mobile\:\!gp-hidden{display:none!important}.gps-557722742401532853 .mobile\:gp-hidden{display:none}}.gps-557722742401532853 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F8F8F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gCUGpx0JQU"}' data-id="gCUGpx0JQU" id="gCUGpx0JQU" data-same-height-subgrid-container class="gCUGpx0JQU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1jqai0A6T gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF0f5w5LF4"}' data-id="gF0f5w5LF4" id="gF0f5w5LF4" data-same-height-subgrid-container class="gF0f5w5LF4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-3xl);--pr-mobile:0px;--cg:0px;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gw0nPr0l71 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHuezcSgVD"
        class="gHuezcSgVD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--pt:15px;--pl:15px;--pb:15px;--pr:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:18px;--size-mobile:14px;--lh:23px;--lh-tablet:28px;--lh-mobile:22px;--ls:0px;--c:#222323;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHuezcSgVD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="g3St4mlqa0 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-557722742401532853 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557594796969952389&sectionId=557722742401532853)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHuezcSgVD_text","label":"ggHuezcSgVD_text","default":"<p>© 2025 SmoothSpine. All Rights Reserved. <a href=\"https://smoothspine.com/policies/privacy-policy\" target=\"_blank\">Privacy Policy</a> <a href=\"https://smoothspine.com/policies/terms-of-service\" target=\"_blank\">Terms of Service</a></p><p>&nbsp;</p><p><span style=\"font-size:13px;\">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}