{% comment %}
  Section: Announcement Banner

  Original MaisonCode announcement bar code has been commented out/removed
  and replaced with responsive Memorial Day Sale banner images.

  Desktop banner:
  https://cdn.shopify.com/s/files/1/0252/1261/6781/files/Smoothspine_-_Memorial_Day_Sale_Banner_min.png?v=1778701606

  Mobile banner:
  https://cdn.shopify.com/s/files/1/0252/1261/6781/files/M_-_Smoothspine_-_Memorial_Day_Sale_Banner_v1_Mobile.png?v=1778701607
{% endcomment %}

{% style %}
  #shopify-section-{{ section.id }} .maisoncode_announcement-banner {
    width: 100%;
    line-height: 0;
    overflow: hidden;
  }

  #shopify-section-{{ section.id }} .maisoncode_announcement-banner__link {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  #shopify-section-{{ section.id }} .maisoncode_announcement-banner__image {
    display: block;
    width: 100%;
    height: auto;
  }
{% endstyle %}

<section class="maisoncode_announcement-banner">
  {% if section.settings.enable_link and section.settings.banner_link != blank %}
    <a href="{{ section.settings.banner_link }}" class="maisoncode_announcement-banner__link">
  {% endif %}

    <picture>
      <source
        media="(max-width: 767px)"
        srcset="https://cdn.shopify.com/s/files/1/0252/1261/6781/files/M_-_Smoothspine_-_Memorial_Day_Sale_Banner_v1_Mobile.png?v=1778701607"
      >

      <img
        class="maisoncode_announcement-banner__image"
        src="https://cdn.shopify.com/s/files/1/0252/1261/6781/files/Smoothspine_-_Memorial_Day_Sale_Banner_min.png?v=1778701606"
        alt="Smoothspine Memorial Day Sale"
        loading="eager"
      >
    </picture>

  {% if section.settings.enable_link and section.settings.banner_link != blank %}
    </a>
  {% endif %}
</section>

{% schema %}
{
  "name": "Announcement Banner",
  "tag": "div",
  "class": "announcement-bar-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_link",
      "label": "Make banner clickable",
      "default": false
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner link"
    }
  ],
  "presets": [
    {
      "name": "Announcement Banner"
    }
  ]
}
{% endschema %}